.navbar{
    background: rgb(29, 6, 50);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.destopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}
.destopMenuBtn{
    background: azure;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    border-radius: 2rem;

}

.destopMenuListItem:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(157, 232, 6);
}

.destopMenuBtn{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
    margin: 3rem;
    text-decoration: double;
    text-shadow: 0cap;

}