.navbar {
    background: rgb(22, 4, 156);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.desktopMenu {
    display: flex;
    align-items: center;
}

.desktopMenuListItem {
    margin: 0 1rem; /* Adjust as needed */
    cursor: pointer;
    text-decoration: none; /* To remove the default link underline */
    color: white; /* Change link color as needed */
}

.desktopMenuListItem:hover {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(157, 232, 6);
}
